
$font-path: "../assets/fonts";

$app-direction: ltr;


@import "ionic.globals";

$colors: (
  primary:    #6495ed,
  secondary:  #435d8c,
  danger:     #f53d3d,
  light:      #ffffff,
  dark:       #222
);

// Top Toolbar ( Header )
$toolbar-md-background: color($colors, secondary);

// Bottom tabs
$tabs-md-background: color($colors, secondary);
// to make the changes to the active text in footer
$tabs-md-tab-color-active: color($colors, light);

// to the change the text in white in tabs
$tabs-md-tab-text-color: color($colors, light);

//to make the list background color blue
$list-md-background-color: color($colors, secondary);
// to make the changes in color of the text
$list-md-text-color: color($colors, light);

@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
