// to make the home background light blue 
.home{
	// to change the background color
	background: color($colors, primary);
	// to change the color to light
	color: color($colors, light);
	//provide space at the top
	margin-top: 30px;
}
// Header toolbar move it to center
.toolbar-title{
	text-align: center;
}

// Footer changing to white color
.tabs-md .tab-button-icon{
	color:#ccc;
}

